<header class="flex sticky top-0 py-3 px-2 gap-1 justify-between bg-green-my">
  <div class="flex justify-start items-center">
    <p-avatar image="logo.webp" [size]="'large'" />
  </div>

  <div class="flex items-center isWeb:hidden">
    <p-button
      (click)="plink.toggle($event)"
      [icon]="icon()"
      [dt]="dtButton()"
      [raised]="true"
      severity="primary"
      size="small"
    />
  </div>

  <div class="hidden isTablet:flex items-center gap-2">
    <ng-container *ngTemplateOutlet="linksContent"></ng-container>
  </div>
  <div class="hidden isWeb:flex items-center">
    <ng-container *ngTemplateOutlet="searchContent"></ng-container>
  </div>

  <div class="flex items-center gap-2 justify-end">
    @if(this.auth.user()?.tipo_usuario?.id!==1){
    <p-button
      label="Carrito"
      routerLink="/carrito"
      routerLinkActive
      #rla="routerLinkActive"
      [raised]="true"
      [icon]="(this.auth.user$ | async) ? 'pi pi-shopping-cart' : 'pi pi-lock'"
      [dt]="rla.isActive ? dtButtonActive() : dtButton()"
      severity="primary"
      [rounded]="true"
      size="small"
      [disabled]="!(this.auth.user$ | async)"
    />
    
    <p-divider layout="vertical" [dt]="dtDivider()" />
  }
    @if (this.auth.user$|async) {
    <p-avatar
      [label]="this.auth.user()?.nombre?.slice(0,1)?.toUpperCase()||'A'"
      shape="circle"
      (click)="pperfil.toggle($event)"
      class="cursor-pointer select-none"
    />
    }@else{
    <p-button
      routerLink="/acceso"
      severity="primary"
      routerLinkActive
      #rlaA="routerLinkActive"
      icon="pi pi-google"
      [rounded]="true"
      [raised]="true"
      [dt]="rlaA.isActive ? dtButtonActive() : dtButton()"
    />
    }
  </div>
</header>
<ng-template #linksContent>
  @for (item of links(); track $index) {
  <p-button
    [label]="item.label"
    [routerLink]="item.url"
    [icon]="item.icon"
    routerLinkActive
    #rla="routerLinkActive"
    [raised]="true"
    [dt]="rla.isActive ? dtButtonActive() : dtButton()"
    severity="primary"
    [rounded]="true"
    size="small"
  />
  }
</ng-template>
<ng-template #searchContent>
  <form>
    <p-iconfield>
      <input
        type="text"
        class="w-full isTablet:w-auto"
        pInputText
        placeholder="Search"
        pSize="small"
      />
      <p-inputicon class="pi pi-search" />
    </p-iconfield>
  </form>
</ng-template>

<p-popover #plink [dt]="dtPopover()" (onShow)="onShow()" (onHide)="onHide()">
  <div class="flex flex-col gap-2 max-w-2xs isTablet:max-w-none">
    <div class="block isWeb:hidden">
      <ng-container *ngTemplateOutlet="searchContent"></ng-container>
    </div>
    <div class="flex flex-col gap-2 isTablet:hidden">
      <ng-container *ngTemplateOutlet="linksContent"></ng-container>
    </div>
  </div>
</p-popover>

<p-popover #pperfil [dt]="dtPopover()" [focusOnShow]="false">
  <div class="flex flex-col gap-2">
    <p-button
      (click)="popup()"
      [label]="this.auth.user()?.tipo_usuario?.id===1?'Admin':'Perfil'"
      [routerLink]="this.auth.user()?.tipo_usuario?.id===1 ? '/admin' : '/perfil'"
      routerLinkActive
      #rlaP="routerLinkActive"
      [raised]="true"
      [rounded]="true"
      icon="pi pi-user-edit"
      [dt]="rlaP.isActive ? dtButtonActive() : dtButton()"
      severity="primary"
      size="small"
    />
    <p-button
      (click)="logout()"
      [rounded]="true"
      icon="pi pi-sign-out"
      [dt]="dtButton()"
      [dt]="dtButton()"
      [raised]="true"
      severity="primary"
      size="small"
      label="Salir"
    />
  </div>
</p-popover>
