<div class="max-w-5xl max-lg:max-w-2xl mx-auto bg-white p-4">
  <div class="border-b border-gray-300 pb-4">
    @if(cart.isCatwalk){
    <p-button
      [dt]="dtButton"
      icon="pi
pi-angle-left"
      label="Regresar al carrito"
      [raised]="true"
      severity="success"
      [rounded]="true"
      (click)="cart.closeCatwalk()"
    />
    }
    <h2 class="text-slate-900 text-2xl font-semibold">Carrito de compras</h2>
    <p class="text-sm text-slate-600 my-2">
      Última actualización: {{ cart?.cart?.updated_at | date : 'dd/MM/yyyy HH:mm' }}
    </p>
    <p-message severity="success"
      >Finaliza tus compras en 3 pasos y obten envíos gratis desde 1000 soles</p-message
    >
  </div>

  <div class="grid lg:grid-cols-3 gap-10 mt-12">
    <div class="lg:col-span-2 space-y-4 max-h-[100dvh] h-auto overflow-y-auto px-2 shadow-my rounded-md pt-2">
      @if(!cart.isCatwalk){
        @if(!cart.isLoading){
          @for (item of cart?.cart?.detalles; track $index)
      {
      <app-card-product [detail]="item"></app-card-product>
      <!-- @if($index === cart.cart?.detalles?.length - 1){

       } -->
        } } @else { @for (item of cart.skeleton;
      track $index) {
      <app-skeleton-card-product></app-skeleton-card-product>
      } } }@else {
      <p-stepper [value]="1" class="basis-[100rem]" [linear]="true">
        <p-step-list>
          <p-step [value]="1">Cliente</p-step>
          <p-step [value]="2">Entrega</p-step>
          <p-step [value]="3">Pago</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex pt-6 justify-end mb-2">
                <p-button
                  severity="success"
                  [dt]="dtButton"
                  [disabled]="!cart.getCheck(0)"
                  label="Siguiente"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (click)="activateCallback(2)"
                />
              </div>
              <div class="flex flex-col gap-2 p-2">
                <p-floatlabel class="w-64" variant="on">
                  <p-select
                    [options]="cart.invoices"
                    [(ngModel)]="cart.selectedInvoice"
                    optionLabel="nombre"
                    class="w-64"
                  >
                    <ng-template #selectedItem let-selectedComprobante>
                      <div class="flex items-center gap-2">
                        <div class="truncate">{{ selectedComprobante.nombre }}</div>
                      </div>
                    </ng-template>

                    <ng-template let-comprobante #item>
                      <div class="flex items-center gap-2">
                        <div>{{ comprobante.nombre }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="on_label">Comprobante</label>
                </p-floatlabel>
                <div class="rounded flex-auto flex justify-center items-center font-medium h-auto">
                  @if(cart.selectedInvoice.id === 1){
                  <form [formGroup]="cart.formBoleta">
                    <!-- DNI -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="dni" class="font-semibold w-24">DNI</label>
                      <input
                        pInputText
                        type="number"
                        id="dni"
                        formControlName="dni"
                        class="flex-auto"
                      />
                      <small class="text-red-500 w-[252px]">
                        * @if(cart.formBoleta.get('dni')?.invalid &&
                        cart.formBoleta.get('dni')?.touched){DNI obligatorio y debe tener 8
                        dígitos.}
                      </small>
                    </div>

                    <!-- Nombres -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="nombres" class="font-semibold w-24">Nombres</label>
                      <input
                        pInputText
                        type="text"
                        id="nombres"
                        formControlName="nombres"
                        class="flex-auto"
                      />
                      <small class="text-red-500 w-[252px]">
                        * @if(cart.formBoleta.get('nombres')?.invalid &&
                        cart.formBoleta.get('nombres')?.touched){Nombres obligatorios y solo letras,
                        espacios, guiones o apóstrofes.}
                      </small>
                    </div>
                  </form>

                  }@else{
                  <form [formGroup]="cart.formFactura">
                    <!-- RUC -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="ruc" class="font-semibold w-24">RUC</label>
                      <input
                        pInputText
                        type="number"
                        id="ruc"
                        formControlName="ruc"
                        class="flex-auto"
                      />
                      <small class="text-red-500 w-[252px]">
                        * @if (cart.formFactura.get('ruc')?.invalid &&
                        cart.formFactura.get('ruc')?.touched) { RUC obligatorio y debe tener 11
                        dígitos.}
                      </small>
                    </div>

                    <!-- Razón Social -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="razon_social" class="font-semibold w-28">Razón Social</label>
                      <input
                        pInputText
                        type="text"
                        id="razon_social"
                        formControlName="razon_social"
                        class="flex-auto"
                      />
                      <small class="text-red-500 w-[252px]">
                        * @if (cart.formFactura.get('razon_social')?.invalid &&
                        cart.formFactura.get('razon_social')?.touched){ Razón social obligatoria y
                        debe tener entre 1 y 255 caracteres.}
                      </small>
                    </div>
                  </form>

                  }
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex pt-6 justify-between mb-2 ">
                <p-button
                  [dt]="dtButton"
                  label="Regresar"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (click)="activateCallback(1)"
                />
                <p-button
                  severity="success"
                  [disabled]="!cart.getCheck(1)"
                  [dt]="dtButton"
                  label="Siguiente"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (click)="activateCallback(3)"
                />
              </div>
              <div class="flex flex-col gap-2 p-2 min-h-36">
                <p-floatlabel class="w-64" variant="on">
                  <p-select
                    [options]="cart.deliveryTypes"
                    [(ngModel)]="cart.selectedDeliveryType"
                    optionLabel="nombre"
                    class="w-64"
                  >
                    <ng-template #selectedItem let-selectedTipoEntrega>
                      <div class="flex items-center gap-2">
                        <div class="truncate">{{ selectedTipoEntrega.nombre }}</div>
                      </div>
                    </ng-template>

                    <ng-template let-entrega #item>
                      <div class="flex items-center gap-2">
                        <div>{{ entrega.nombre }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="on_label">Entrega</label>
                </p-floatlabel>
                <div
                  class="rounded flex-auto flex flex-col justify-center items-center font-medium h-auto relative"
                >
                  @if(cart.selectedDeliveryType.id === 1){
                  <div>Entrega en tienda es gratuito!!!</div>
                  }
                  @if(cart.selectedDeliveryType.id === 2){
                    <app-map class="w-full flex-col items-center justify-center"></app-map>
                  }
                </div>
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex pt-6 justify-start mb-2">
                <p-button
                  severity="secondary"
                  [dt]="dtButton"
                  label="Regresar"
                  icon="pi pi-arrow-left"
                  iconPos="right"
                  (click)="activateCallback(2)"
                />
              </div>
              <div class="flex flex-col gap-2 p-2">
                <div
                  class="rounded flex-auto flex flex-col justify-center items-center font-medium h-auto p-2"
                >
                  <div class="flex flex-col items-start gap-4 mb-4">
                    <!-- FORM YAPE -->
                    <form [formGroup]="cart.pagoYapeForm">
                      <!-- Celular -->
                      <div class="flex flex-col items-start gap-4 mb-4">
                        <label for="celular" class="font-semibold w-24">Celular</label>
                        <input
                          pInputText
                          type="number"
                          id="celular"
                          formControlName="celular"
                          class="flex-auto"
                        />
                        <small class="text-red-500 w-[252px]">
                          * @if(cart.pagoYapeForm.get('celular')?.invalid &&
                          cart.pagoYapeForm.get('celular')?.touched){Celular obligatorio y debe
                          tener 9 dígitos.}
                        </small>
                      </div>

                      <!-- OTP -->
                      <div class="flex flex-col items-start gap-4 mb-4">
                        <label for="otp" class="font-semibold w-24">OTP</label>
                        <input
                          pInputText
                          type="number"
                          id="otp"
                          formControlName="otp"
                          class="flex-auto"
                        />
                        <small class="text-red-500 w-[252px]">
                          * @if(cart.pagoYapeForm.get('otp')?.invalid &&
                          cart.pagoYapeForm.get('otp')?.touched){ OTP obligatorio (4 a 6 dígitos).}
                        </small>
                      </div>
                    </form>

                    <!-- FORM YAPE -->
                    <a
                      class="rounded-sm overflow-hidden"
                      href="https://www.yape.com.pe/preguntas-frecuentes/compras-por-internet/como-activo-y-desactivo-mis-compras-por-internet-y-pos-desde-yape"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        src="yapeOTP.webp"
                        alt="compras por internet con Yape"
                        class="w-50 rounded-md"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
      }
    </div>

    <div class="bg-gray-100 rounded-md p-4 h-max shadow-my">
      <div>
        <h3 class="text-base text-slate-900 font-semibold mb-4">Resumen del pedido</h3>
      </div>

      <ul class="text-slate-500 font-medium mt-6 space-y-4">
        <li class="flex flex-wrap gap-4 text-sm">
          Subtotal
          <span class="ml-auto font-semibold text-slate-900">{{
            cart.getSubtotal() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
        <li class="flex flex-wrap gap-4 text-sm">
          Delivery
          <span class="ml-auto font-semibold text-slate-900">{{
            cart.getDeliveryMount() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
        <hr class="border-gray-300" />
        <li class="flex flex-wrap gap-4 text-sm text-slate-900">
          Total
          <span class="ml-auto font-semibold">{{
            cart.getTotalMount() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
      </ul>

      <div class="mt-8 space-y-3 flex justify-center">
        @if(cart.isCatwalk){

        <p-button
          [disabled]="cart.buttonChecks()"
          [dt]="dtButton"
          icon="pi pi-check-circle"
          [label]="cart.getLabelButton()"
          [raised]="true"
          severity="success"
          [rounded]="true"
          (click)="cart.startOrder()"
        />
        }@else {
        <p-button
          [disabled]="cart.hasProducts()"
          [dt]="dtButton"
          icon="pi pi-check-circle"
          label="Iniciar compra"
          [raised]="true"
          severity="success"
          [rounded]="true"
          (click)="cart.startCatwalk()"
        />
        }
      </div>
      <div class="mt-5 flex flex-wrap justify-center gap-4">
        <img src="yape.webp" alt="card2" class="w-10 object-contain rounded-sm" />
      </div>
    </div>
  </div>
</div>
