<div class="max-w-5xl max-lg:max-w-2xl mx-auto bg-white p-4">
  <div class="border-b border-gray-300 pb-4">
    @if(cart.isCatwalk){
    <p-button
      [dt]="dtButton"
      icon="pi 
pi-angle-left"
      label="Regresar al carrito"
      [raised]="true"
      severity="success"
      [rounded]="true"
      (onClick)="cart.closeCatwalk()"
    />
    }
    <h2 class="text-slate-900 text-2xl font-semibold">Carrito de compras</h2>
    <p class="text-sm text-slate-600 mt-2">
      Última actualización: {{ cart?.cart?.updated_at | date : 'dd/MM/yyyy HH:mm' }}
    </p>
  </div>

  <div class="grid lg:grid-cols-3 gap-10 mt-12">
    <div class="lg:col-span-2 space-y-4 max-h-[60dvh] h-96 overflow-y-auto">
      @if(!cart.isCatwalk){ @if(!cart.isLoading){ @for (item of cart?.cart?.detalles; track $index)
      {
      <app-card-product [detail]="item"></app-card-product>
      @if($index === cart.cart.detalles.length - 1){ } } } @else { @for (item of cart.skeleton;
      track $index) {
      <app-skeleton-card-product></app-skeleton-card-product>
      } } }@else {
      <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <p-step-list>
          <p-step [value]="1">Cliente</p-step>
          <p-step [value]="2">Entrega</p-step>
          <p-step [value]="3">Pago</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <p-floatlabel class="w-64" variant="on">
                  <p-select
                    [options]="cart.invoices"
                    [(ngModel)]="cart.selectedInvoice"
                    optionLabel="nombre"
                    class="w-64"
                  >
                    <ng-template #selectedItem let-selectedComprobante>
                      <div class="flex items-center gap-2">
                        <div class="truncate">{{ selectedComprobante.nombre }}</div>
                      </div>
                    </ng-template>

                    <ng-template let-comprobante #item>
                      <div class="flex items-center gap-2">
                        <div>{{ comprobante.nombre }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="on_label">Comprobante</label>
                </p-floatlabel>
                <div
                  class="border-2 border-dashed border-green-my rounded flex-auto flex justify-center items-center font-medium h-40"
                >
                  @if(cart.selectedInvoice.id === 1){
                  <form [formGroup]="cart.formFactura">
                    <!-- RUC -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="ruc" class="font-semibold w-24">RUC</label>
                      <input
                        pInputText
                        type="number"
                        id="ruc"
                        formControlName="ruc"
                        class="flex-auto"
                      />
                      <small class="text-red-500">
                        * @if (cart.formFactura.get('ruc')?.invalid &&
                        cart.formFactura.get('ruc')?.touched) { RUC obligatorio y debe tener 11
                        dígitos.}
                      </small>
                    </div>

                    <!-- Razón Social -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="razon_social" class="font-semibold w-24">Razón Social</label>
                      <input
                        pInputText
                        type="text"
                        id="razon_social"
                        formControlName="razon_social"
                        class="flex-auto"
                      />
                      <small class="text-red-500">
                        * @if (cart.formFactura.get('razon_social')?.invalid &&
                        cart.formFactura.get('razon_social')?.touched){ Razón social obligatoria y
                        debe tener entre 1 y 255 caracteres.}
                      </small>
                    </div>
                  </form>

                  }@else{
                  <form [formGroup]="cart.formBoleta">
                    <!-- DNI -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="dni" class="font-semibold w-24">DNI</label>
                      <input
                        pInputText
                        type="number"
                        id="dni"
                        formControlName="dni"
                        class="flex-auto"
                      />
                      <small class="text-red-500">
                        * @if(cart.formBoleta.get('dni')?.invalid &&
                        cart.formBoleta.get('dni')?.touched){DNI obligatorio y debe tener 8
                        dígitos.}
                      </small>
                    </div>

                    <!-- Nombres -->
                    <div class="flex flex-col items-start gap-4 mb-4">
                      <label for="nombres" class="font-semibold w-24">Nombres</label>
                      <input
                        pInputText
                        type="text"
                        id="nombres"
                        formControlName="nombres"
                        class="flex-auto"
                      />
                      <small class="text-red-500">
                        * @if(cart.formBoleta.get('nombres')?.invalid &&
                        cart.formBoleta.get('nombres')?.touched){Nombres obligatorios y solo letras,
                        espacios, guiones o apóstrofes.}
                      </small>
                    </div>
                  </form>

                  }
                </div>
              </div>
              <div class="flex pt-6 justify-end">
                <p-button
                  [dt]="dtButton"
                  [disabled]="cart.checks[0]"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <p-floatlabel class="w-64" variant="on">
                  <p-select
                    [options]="cart.deliveryTypes"
                    [(ngModel)]="cart.selectedDeliveryType"
                    optionLabel="nombre"
                    class="w-64"
                  >
                    <ng-template #selectedItem let-selectedTipoEntrega>
                      <div class="flex items-center gap-2">
                        <div class="truncate">{{ selectedTipoEntrega.nombre }}</div>
                      </div>
                    </ng-template>

                    <ng-template let-entrega #item>
                      <div class="flex items-center gap-2">
                        <div>{{ entrega.nombre }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="on_label">Entrega</label>
                </p-floatlabel>
                <div
                  class="border-2 border-dashed border-green-my rounded flex-auto flex justify-center items-center font-medium h-auto"
                >
                  @if(cart.selectedDeliveryType.id === 1){
                  <div style="height: 500px" id="map"></div>

                  <div style="margin-top: 10px; color: red" *ngIf="cart.mensaje">
                    {{ cart.mensaje }}
                  </div>
                  <div style="margin-top: 5px" *ngIf="cart.coordenadas">
                    Lat: {{ cart.coordenadas.lat }}, Lng: {{ cart.coordenadas.lng }}
                  </div>
                  }@else{
                  <div>Entrega en tienda es gratuito!!!</div>
                  }
                </div>
              </div>
              <div class="flex pt-6 justify-between">
                <p-button
                  [dt]="dtButton"
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  [disabled]="cart.checks[1]"
                  [dt]="dtButton"
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(3)"
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex flex-col h-48">
                <p-floatlabel class="w-64" variant="on">
                  <p-select
                    [options]="cart.paymentMethods"
                    [(ngModel)]="cart.selectedPaymentMethod"
                    optionLabel="nombre"
                    class="w-64"
                  >
                    <ng-template #selectedItem let-selectedMetodoPago>
                      <div class="flex items-center gap-2">
                        <div class="truncate">{{ selectedMetodoPago.nombre }}</div>
                      </div>
                    </ng-template>

                    <ng-template let-pago #item>
                      <div class="flex items-center gap-2">
                        <div>{{ pago.nombre }}</div>
                      </div>
                    </ng-template>
                  </p-select>
                  <label for="on_label">Metodo de pago</label>
                </p-floatlabel>
                <div
                  class="border-2 border-dashed border-green-my rounded flex-auto flex justify-center items-center font-medium h-auto"
                >
                  @if(cart.selectedPaymentMethod){
                  <div class="flex flex-col items-start gap-4 mb-4">
                    <label for="file" class="font-semibold w-24">Imagen</label>
                    <p-fileUpload
                      #fu
                      id="file"
                      mode="advanced"
                      [customUpload]="true"
                      [multiple]="false"
                      accept="image/*"
                      [maxFileSize]="200000"
                      [fileLimit]="1"
                      chooseLabel="Escoger"
                      invalidFileSizeMessageSummary=" {0}: Tamaño de archivo inválido "
                      invalidFileSizeMessageDetail=" El tamaño máximo permitido es {0}. "
                      invalidFileTypeMessageSummary=" {0}: Tipo de archivo inválido "
                      invalidFileTypeMessageDetail=" Tipos de archivo permitidos: {0}. "
                      invalidFileLimitMessageDetail=" El límite es de {0} como máximo. "
                      invalidFileLimitMessageSummary="{0}: Límite de archivos excedido"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      (onSelect)="brand.onSelect($event)"
                      (onRemove)="brand.onRemove($event)"
                    >
                      <ng-template #empty>
                        <div>Arrastra y suelta un archivo aquí o haz clic para seleccionar.</div>
                      </ng-template>
                    </p-fileUpload>
                    <small class="text-red-500">
                      * @if (brand.form.get('file')?.invalid && brand.form.get('file')?.touched) {
                      La imagen es requerida }
                    </small>
                  </div>
                  <div class="card flex flex-col gap-2">
                    <div class="card flex justify-center gap-1 flex-wrap">
                      <input
                        pInputText
                        [disabled]="true"
                        [(ngModel)]="cart.selectedPaymentMethod.copy"
                      />
                      <p-button
                        [dt]="dtButton"
                        label="Copiar"
                        icon="pi pi-clipboard"
                        iconPos="left"
                        (onClick)="cart.copyNumber(cart.selectedPaymentMethod.copy)"
                      />
                    </div>
                    <img
                      [src]="cart.selectedPaymentMethod.imagen"
                      [alt]="cart.selectedPaymentMethod.nombre"
                      class="w-full rounded-md aspect-square object-contain object-center"
                    />
                  </div>
                  }
                </div>
              </div>
              <div class="flex pt-6 justify-start">
                <p-button
                  [dt]="dtButton"
                  label="Back"
                  icon="pi pi-arrow-left"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
      }
    </div>

    <div class="bg-gray-100 rounded-md p-4 h-max">
      <div>
        <h3 class="text-base text-slate-900 font-semibold mb-4">Resumen del pedido</h3>
      </div>

      <ul class="text-slate-500 font-medium mt-6 space-y-4">
        <li class="flex flex-wrap gap-4 text-sm">
          Subtotal
          <span class="ml-auto font-semibold text-slate-900">{{
            cart.getSubtotal() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
        <li class="flex flex-wrap gap-4 text-sm">
          Delivery
          <span class="ml-auto font-semibold text-slate-900">{{
            cart.getDeliveryMount() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
        <hr class="border-gray-300" />
        <li class="flex flex-wrap gap-4 text-sm text-slate-900">
          Total
          <span class="ml-auto font-semibold">{{
            cart.getTotal() | currency : 'PEN' : 'symbol' : '1.2-2'
          }}</span>
        </li>
      </ul>

      <div class="mt-8 space-y-3">
        <p-button
          [dt]="dtButton"
          icon="pi pi-check-circle"
          [label]="cart.getLabelButton()"
          [raised]="true"
          severity="success"
          [rounded]="true"
          (onClick)="cart.startCatwalk()"
        />
      </div>
      <div class="mt-5 flex flex-wrap justify-center gap-4">
        <img src="bcp.webp" alt="card1" class="w-10 object-contain" />
        <img src="yape.webp" alt="card2" class="w-10 object-contain" />
      </div>
    </div>
  </div>
</div>
