<div class="grid grid-cols-2 sm:grid-cols-3 mb-2 rounded-sm overflow-hidden items-start sm:gap-4 gap-6 shadow-my">
  <div class="col-span-2 flex items-start gap-4">
    <div
      [routerLink]="['/producto', detail.producto.codigo]"
      [queryParams]="{}"
      [queryParamsHandling]="''"
      class="w-28 h-28 max-sm:w-24 max-sm:h-24 shrink-0 bg-gray-100 p-3 rounded-md cursor-pointer"
    >
      <img
        [src]="detail.producto?.imagenes?.[0]?.secure_url || 'Image-not-found.webp'"
        [alt]="detail.producto.nombre"
        class="w-full aspect-square h-full object-contain object-center"
      />
    </div>
    <div class="flex flex-col">
      <h3
        class="text-base font-semibold text-slate-900 overflow-x-auto [&::-webkit-scrollbar]:h-1 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300"
      >
        <span>{{ detail.producto.nombre }}</span>
      </h3>
      <p class="text-sm font-medium text-slate-500 mt-2">
        Precio: {{ detail.producto.precio_final | currency : 'PEN' : 'symbol' : '1.2-2' }} ({{
          detail.producto.stock
        }})
      </p>
      <p-button
        icon="pi pi-delete-left"
        label="Eliminar"
        [raised]="true"
        severity="danger"
        [rounded]="true"
        (onClick)="cart.removeFromCart($event,detail.id)"
      />
    </div>
  </div>

  <div class="sm:ml-auto max-sm:flex max-sm:justify-between max-sm:gap-4 max-sm:col-span-full">
    <h4 class="text-base font-semibold text-slate-900">
      {{ detail.producto.precio_final * detail.cantidad | currency : 'PEN' : 'symbol' : '1.2-2' }}
    </h4>
    
      <p-inputnumber
        [(ngModel)]="detail.cantidad"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        inputId="horizontal"
        [inputStyle]="{ width: '3rem' }"
        [min]="1"
        [max]="detail.producto.stock"
        (ngModelChange)="cart.updateQuantity(detail.id, detail.cantidad)"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>
  </div>
</div>
