@if(!home.loadingBestSellingProducts){
<h5
  class="text-2xl font-bold tracking-tight text-center mb-2 mt-6 shadow-my rounded-md bg-green-my text-white py-2 "
>
  {{ home.titleBestSellingProducts }}<i class="pi pi-angle-double-up " style="color: white"></i>
</h5>
<p-carousel
  class="shadow-my rounded-md border-2 border-green-my"
  [dt]="dt"
  [value]="home.bestSellingProducts"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  autoplayInterval="3000"
  [responsiveOptions]="home.responsiveOptions"
>
  <ng-template let-producto #item>
    <app-card-product [product]="producto"></app-card-product>
  </ng-template>
</p-carousel>
} @else{
<p-skeleton width="30%" height="2rem" class="mb-2 mt-6 mx-auto" />

<p-carousel
  class="shadow-my rounded-md"
  [dt]="dt"
  [value]="home.bestSellingProducts"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  autoplayInterval="3000"
  [responsiveOptions]="home.responsiveOptions"
>
  <ng-template let-producto #item>
    <app-skeleton-card-product></app-skeleton-card-product>
  </ng-template>
</p-carousel>
}
