<div class="shadow-md sm:rounded-lg max-w-2xl flex-none">
  <div class="flex items-center justify-between w-full flex-wrap py-4 bg-white px-2 gap-2">
    <p-button label="Agregar" icon="pi pi-plus-circle" (onClick)="publication.showDialog()" />

    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-clipboard" />
        <input
          pInputText
          id="on_label"
          [(ngModel)]="publication.searchByTitle"
          classs="w-64"
          autocomplete="off"
        />
      </p-iconfield>

      <label for="on_label">Búsqueda por titúlo</label>
    </p-floatlabel>
    <p-button
      icon="pi pi-search"
      label="Buscar"
      severity="danger"
      (click)="publication.search()"
      [rounded]="true"
    />
    <p-button
      icon="pi pi-refresh"
      label="Resetear"
      [raised]="true"
      severity="danger"
      [rounded]="true"
      (onClick)="publication.resetFilters()"
    />
  </div>
  @if (publication.publications.length > 0) {
  <p-table
    #dt
    showGridlines
    [value]="publication.publications"
    [tableStyle]="{ 'max-width': '100%' }"
    [rows]="publication.pageSize"
    [paginator]="true"
    [rowsPerPageOptions]="publication.enumPageSize"
    [totalRecords]="publication.count"
    (onLazyLoad)="publication.lazyLoad($event)"
    [lazy]="true"
    [loading]="publication.loading"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (item of publication.headers; track $index) {
        <th [style.width]="item.width">{{ item.label }}</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-publicacion>
      @if(!publication.loading){
      <tr>
        <td>{{ publicacion.titulo }}</td>
        <td>
          @if(publicacion.url_redireccion){
          <div class="flex items-center justify-center h-full w-full">
            <a
              [href]="publicacion.url_redireccion"
              pButton
              target="_blank"
              rel="noopener noreferrer"
            >
              <span pButtonLabel>Link</span>
            </a>
          </div>
          }
        </td>
        <td>
          <div class="flex items-center justify-center h-full w-full">
            <p-image
              [src]="publicacion.secure_url"
              [alt]="publicacion.titulo"
              class="w-10 h-10 object-contain rounded object-center"
              [preview]="true"
            ></p-image>
          </div>
        </td>

        <td>
          <div class="flex items-center gap-2h-full w-full">
            <p-button
              icon="pi pi-file-edit"
              [raised]="true"
              [rounded]="true"
              (click)="publication.updatePublication(publicacion)"
              severity="secondary"
              [text]="true"
            />
            <p-button
              icon="pi pi-delete-left"
              [raised]="true"
              [rounded]="true"
              (click)="publication.delete($event, publicacion)"
              severity="secondary"
              [text]="true"
            />
          </div>
        </td>
      </tr>
      }@else{
      <tr style="height: 46px">
        @for (item of publication.headers; track $index) {
        <td>
          <p-skeleton />
        </td>
        }
      </tr>
      }
    </ng-template>
  </p-table>
  }@else {
  <p class="px-2 py-4">No hay registros de Publicaciones...</p>
  }
</div>

<!-- MODAL -->
<p-dialog
  [header]="publication.selectedPublication ? 'Actualizar Publicación' : 'Crear Publicación'"
  [modal]="true"
  [(visible)]="publication.visibleModal"
  [style]="{ width: '25rem', height: 'auto' }"
>
  <form [formGroup]="publication.form" (ngSubmit)="publication.operationPublication()">
    <div class="flex flex-col items-start gap-4 mb-4">
      <label for="titulo" class="font-semibold w-24">Titúlo</label>
      <input pInputText type="text" id="titulo" formControlName="titulo" class="flex-auto" />
      <small class="text-red-500">
        * @if (publication.form.get('titulo')?.invalid && publication.form.get('titulo')?.touched) {
        El titúlo es obligatorio y debe tener menos de 100 caracteres. }
      </small>
    </div>
    <div class="flex flex-col items-start gap-4 mb-4">
      <label for="url_redireccion" class="font-semibold w-24">Url de redirección</label>
      <input
        pInputText
        type="text"
        id="url_redireccion"
        formControlName="url_redireccion"
        class="flex-auto"
      />
      <small class="text-red-500">
        * @if (publication.form.get('url_redireccion')?.invalid &&
        publication.form.get('url_redireccion')?.touched) { El url de redirección es opcional y debe
        tener menos de 500 caracteres. }
      </small>
    </div>

    <div class="flex flex-col items-start gap-4 mb-4">
      <label for="file" class="font-semibold w-24">Imagen</label>
      <p-fileUpload
        #fu
        id="file"
        mode="advanced"
        [customUpload]="true"
        [multiple]="false"
        accept="image/*"
        [maxFileSize]="200000"
        [fileLimit]="1"
        chooseLabel="Escoger"
        invalidFileSizeMessageSummary=" {0}: Tamaño de archivo inválido "
        invalidFileSizeMessageDetail=" El tamaño máximo permitido es {0}. "
        invalidFileTypeMessageSummary=" {0}: Tipo de archivo inválido "
        invalidFileTypeMessageDetail=" Tipos de archivo permitidos: {0}. "
        invalidFileLimitMessageDetail=" El límite es de {0} como máximo. "
        invalidFileLimitMessageSummary="{0}: Límite de archivos excedido"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (onSelect)="publication.onSelect($event)"
        (onRemove)="publication.onRemove($event)"
      >
        <ng-template #empty>
          <div>Arrastra y suelta un archivo aquí o haz clic para seleccionar.</div>
        </ng-template>
      </p-fileUpload>
      <small class="text-red-500">
        * @if (publication.form.get('file')?.invalid && publication.form.get('file')?.touched) { La
        imagen es requerida }
      </small>
    </div>

    <div class="flex justify-end gap-2 bottom-4 right-4">
      <p-button label="Cancelar" severity="secondary" (click)="publication.showDialog()" />
      <p-button
        [label]="publication.selectedPublication ? 'Actualizar' : 'Crear'"
        [type]="'submit'"
        [disabled]="publication.form.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>
