<div class="shadow-md sm:rounded-lg w-auto flex-none">
  <div class="flex items-center justify-between w-full flex-wrap py-4 bg-white px-2 gap-2">
    <p-floatlabel class="w-64" variant="on">
      <p-select
        [options]="user.enabled"
        [(ngModel)]="user.selectedEnabled"
        optionLabel="label"
        [showClear]="true"
        class="w-64"
      >
        <ng-template #selectedItem let-selectedEstado>
          <div class="flex items-center gap-2">
            <div class="truncate">{{ selectedEstado.label }}</div>
          </div>
        </ng-template>

        <ng-template let-estado #item>
          <div class="flex items-center gap-2">
            <div>{{ estado.label }}</div>
          </div>
        </ng-template>
      </p-select>
      <label for="on_label">Estado</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="pi pi-clipboard" />
        <input
          pInputText
          id="on_label"
          [(ngModel)]="user.searchByEmail"
          classs="w-64"
          autocomplete="off"
        />
      </p-iconfield>

      <label for="on_label">Búsqueda por Email</label>
    </p-floatlabel>
    <p-button
      icon="pi pi-search"
      label="Buscar"
      severity="danger"
      (click)="user.search()"
      [rounded]="true"
    />
    <p-button
      icon="pi pi-refresh"
      label="Resetear"
      [raised]="true"
      severity="danger"
      [rounded]="true"
      (click)="user.resetFilters()"
    />
  </div>
  @if (user.users.length > 0) {
  <p-table
    #dt
    showGridlines
    [value]="user.users"
    [tableStyle]="{ 'width': 'auto' }"
    [rows]="user.pageSize"
    [paginator]="true"
    [rowsPerPageOptions]="user.enumPageSize"
    [totalRecords]="user.count"
    (onLazyLoad)="user.lazyLoad($event)"
    [lazy]="true"
    [loading]="user.loading"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (item of user.headers; track $index) {
        <th [style.width]="item.width">{{ item.label }}</th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-usuario>
      @if(!user.loading){
      <tr>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.numero }}</td>
        <td>
          <div class="flex items-center justify-center h-full w-full">
            <p-checkbox
              [ngModel]="usuario.habilitado"
              [binary]="true"
              (onChange)="user.enabledDisabled(usuario)"
            />
          </div>
        </td>
      </tr>
      }@else{
      <tr style="height: 46px">
        @for (item of user.headers; track $index) {
        <td>
          <p-skeleton />
        </td>
        }
      </tr>
      }
    </ng-template>
  </p-table>
  }@else {
  <p class="px-2 py-4">No hay registros de Usuarios...</p>
  }
</div>
