<div class="overflow-x-auto h-full w-full flex flex-nowrap gap-2">
  @if(!entry.isCreatingEntry){
  <!-- TABLA DE ENTRADAS -->
  <div class="shadow-md sm:rounded-lg max-w-2xl min-w-2xl flex-none">
    <div class="flex items-center justify-between w-full flex-wrap py-4 bg-white px-2 gap-2">
      <p-button label="Agregar" icon="pi pi-plus-circle" (onClick)="entry.openCreatingEntry()" />
      <p-datepicker
        [(ngModel)]="entry.dates"
        [maxDate]="entry.maxDate"
        [readonlyInput]="true"
        [iconDisplay]="'input'"
        [showIcon]="true"
        inputId="icondisplay"
        dateFormat="dd/mm/yy"
        placeholder="Ingrese fecha"
        [showButtonBar]="true"
        selectionMode="range"
      />
      <p-floatlabel class="w-64" variant="on">
        <p-select
          [options]="entry.enabledEntry"
          [(ngModel)]="entry.selectedEnabledEntry"
          optionLabel="label"
          [showClear]="true"
          class="w-64"
        >
          <ng-template #selectedItem let-selectedEstado>
            <div class="flex items-center gap-2">
              <div class="truncate">{{ selectedEstado.label }}</div>
            </div>
          </ng-template>

          <ng-template let-estado #item>
            <div class="flex items-center gap-2">
              <div>{{ estado.label }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="on_label">Estado</label>
      </p-floatlabel>

      <p-button
        icon="pi pi-search"
        label="Buscar"
        severity="danger"
        (click)="entry.searchEntrys()"
        [rounded]="true"
      />
      <p-button
        icon="pi pi-refresh"
        label="Resetear"
        [raised]="true"
        severity="danger"
        [rounded]="true"
        (onClick)="entry.resetFiltersEntry()"
      />
    </div>
    @if (entry.entries.length > 0) {
    <p-table
      #dt
      showGridlines
      [value]="entry.entries"
      [tableStyle]="{ 'max-width': '100%' }"
      [rows]="entry.pageSizeEntry"
      [paginator]="true"
      [rowsPerPageOptions]="entry.enumPageSize"
      [totalRecords]="entry.countEntry"
      (onLazyLoad)="entry.lazyLoadEntry($event)"
      [lazy]="true"
      [loading]="entry.loadingEntry"
    >
      <ng-template pTemplate="header">
        <tr>
          @for (item of entry.headersEntry; track $index) {
          <th [style.width]="item.width">{{ item.label }}</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-entrada>
        @if(!entry.loadingEntry){
        <tr>
          <td>{{ entrada.fecha | date : 'dd/MM/yyyy' }}</td>
          <td>{{ entrada.hora }}</td>
          <td>{{ entrada.total }}</td>
          <td>
            <div class="flex items-center justify-center h-full w-full">
              <p-button
                [icon]="entrada.habilitado?'pi pi-unlock':'pi pi-lock'"
                [raised]="true"
                [rounded]="true"
                [disabled]="!entrada.habilitado"
                (click)="entry.disabledEntry($event, entrada.id)"
                severity="secondary"
                [text]="true"
              />
            </div>
          </td>
          <td>
            <p-button
              icon="pi pi-file-plus"
              [raised]="true"
              [rounded]="true"
              (click)="entry.viewDetailsEntry(entrada)"
              severity="secondary"
              [text]="true"
            />
          </td>
        </tr>
        }@else{
        <tr style="height: 46px">
          @for (item of entry.headersEntry; track $index) {
          <td>
            <p-skeleton />
          </td>
          }
        </tr>
        }
      </ng-template>
    </p-table>
    }@else {
    <p class="px-2 py-4">No hay registros de Entradas...</p>
    }
  </div>
  <!-- TABLA DE DETALLES DE ENTRADA -->
  @if (entry.selectedEntry) {
  <div
    class="max-w-xl min-w-xl p-2 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-wrap mb-2"
  >
    <div class="flex items-start justify-between mb-8 flex-wrap gap-2">
      <div class="flex items-center">
        <img class="h-12 w-auto mr-2" src="logo.webp" alt="Logo" />
      </div>
      <div class="text-gray-700">
        <div class="font-bold text-xl mb-2">Detalles de Pedido</div>
        <div class="text-sm">Entrada #{{ entry.selectedEntry.id }}</div>
        <div class="text-sm">Fecha: {{ entry.selectedEntry.fecha | date : 'dd/MM/yyyy' }}</div>
        <div class="text-sm">Hora: {{ entry.selectedEntry.hora }}</div>
        <div class="text-sm">Total: {{ entry.selectedEntry.total }}</div>
        <div class="text-sm">
          Estado: {{ entry.selectedEntry.habilitado ? 'Habilitado' : 'Deshabilitado' }}
        </div>
      </div>
    </div>
    <p-table
      #dtDetails
      showGridlines
      [value]="entry.detailsEntry"
      [tableStyle]="{ 'max-width': '100%', 'min-width': '100%' }"
      [rows]="entry.pageSizeDetail"
      [paginator]="true"
      [rowsPerPageOptions]="entry.enumPageSize"
      [totalRecords]="entry.countDetails"
      (onLazyLoad)="entry.lazyLoadDetails($event)"
      [lazy]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          @for (item of entry.headersDetail; track $index) {
          <th [style.width]="item.width">{{ item.label }}</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-detalle>
        @if(!entry.loadingDetail){
        <tr>
          <td>{{ detalle.producto.codigo }}</td>
          <td>{{ detalle.producto.nombre }}</td>
          <td>{{ detalle.cantidad }}</td>
        </tr>
        }@else{
        <tr style="height: 46px">
          @for (item of entry.headersDetail; track $index) {
          <td>
            <p-skeleton />
          </td>
          }
        </tr>
        }
      </ng-template>
    </p-table>
  </div>
  } } @if(entry.isCreatingEntry){
  <!-- DATAVIEW DE PRODUCTOS -->
  <div class="shadow-md sm:rounded-lg max-w-2xl flex-none">
    <div class="flex items-center justify-between w-full flex-wrap py-4 bg-white px-2 gap-2">
      <p-button
        icon="pi pi-times-circle"
        label="Cerrar"
        [raised]="true"
        severity="danger"
        [rounded]="true"
        (onClick)="entry.closeCreatingEntry()"
      />
      <p-floatlabel class="w-64" variant="on">
        <p-select
          [options]="entry.enabled"
          [(ngModel)]="entry.selectedEnabled"
          optionLabel="label"
          [showClear]="true"
          class="w-64"
        >
          <ng-template #selectedItem let-selectedEstado>
            <div class="flex items-center gap-2">
              <div class="truncate">{{ selectedEstado.label }}</div>
            </div>
          </ng-template>

          <ng-template let-estado #item>
            <div class="flex items-center gap-2">
              <div>{{ estado.label }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="on_label">Estado</label>
      </p-floatlabel>
      <p-floatlabel class="w-64" variant="on">
        <p-select
          [options]="entry.discount"
          [(ngModel)]="entry.selectedDiscount"
          optionLabel="label"
          [showClear]="true"
          class="w-64"
        >
          <ng-template #selectedItem let-selectedDiscount>
            <div class="flex items-center gap-2">
              <div class="truncate">{{ selectedDiscount.label }}</div>
            </div>
          </ng-template>

          <ng-template let-descuento #item>
            <div class="flex items-center gap-2">
              <div>{{ descuento.label }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="on_label">Descuento</label>
      </p-floatlabel>
      <p-floatlabel class="w-64" variant="on">
        <p-select
          [options]="entry.categorysAll"
          [(ngModel)]="entry.selectedCategory"
          optionLabel="nombre"
          [showClear]="true"
          class="w-64"
        >
          <ng-template #selectedItem let-selectedCategory>
            <div class="flex items-center gap-2">
              <div class="truncate">{{ selectedCategory.nombre }}</div>
            </div>
          </ng-template>

          <ng-template let-categoria #item>
            <div class="flex items-center gap-2">
              <div>{{ categoria.nombre }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="on_label">Categoría</label>
      </p-floatlabel>
      <p-floatlabel class="w-64" variant="on">
        <p-select
          [options]="entry.brandsAll"
          [(ngModel)]="entry.selectedBrand"
          optionLabel="nombre"
          [showClear]="true"
          class="w-64"
        >
          <ng-template #selectedItem let-selectedBrand>
            <div class="flex items-center gap-2">
              <div class="truncate">{{ selectedBrand.nombre }}</div>
            </div>
          </ng-template>

          <ng-template let-marca #item>
            <div class="flex items-center gap-2">
              <div>{{ marca.nombre }}</div>
            </div>
          </ng-template>
        </p-select>
        <label for="on_label">Marca</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-iconfield>
          <p-inputicon class="pi pi-clipboard" />
          <input
            pInputText
            id="on_label"
            [(ngModel)]="entry.searchByCodeOrName"
            classs="w-80"
            autocomplete="off"
          />
        </p-iconfield>

        <label for="on_label">Buscar por código o nombre</label>
      </p-floatlabel>
      <p-button
        icon="pi pi-search"
        label="Buscar"
        severity="danger"
        (click)="entry.search()"
        [rounded]="true"
      />
      <p-button
        icon="pi pi-refresh"
        label="Resetear"
        [raised]="true"
        severity="danger"
        [rounded]="true"
        (onClick)="entry.resetFilters()"
      />
    </div>
    <div class="card">
      <p-dataview
        #dv
        [value]="entry.products"
        [paginator]="true"
        [rows]="entry.pageSize"
        [rowsPerPageOptions]="entry.enumPageSize"
        [totalRecords]="entry.count"
        (onLazyLoad)="entry.lazyLoad($event)"
        [lazy]="true"
        [loading]="entry.loading"
        emptyMessage="No hay registros de Productos..."
        [layout]="entry.loading ? 'grid' : 'list'"
      >
        <ng-template #list let-items>
          <div class="grid grid-cols-12 gap-4">
            @for(item of items;track $index){
            <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
              <div
                class="p-6 shadow-my border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col"
              >
                <div class="bg-surface-50 flex justify-center rounded p-4">
                  <div class="relative mx-auto">
                    <img
                      class="rounded w-full aspect-square object-contain object-center"
                      [src]="item?.imagenes?.[0]?.secure_url || 'Image-not-found.webp'"
                      [alt]="item.nombre"
                      style="max-width: 300px"
                    />
                  </div>
                </div>
                <div class="pt-6">
                  <div class="flex flex-col gap-2">
                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                      item.codigo
                    }}</span>
                    <div class="text-lg font-medium mt-1 w-full overflow-x-auto">
                      <span>{{ item.nombre }}</span>
                    </div>
                  </div>
                  <p-button
                    [label]="entry.isInDetail(item.id) ? 'Agregado' : 'Agregar'"
                    [disabled]="entry.isInDetail(item.id)"
                    (click)="entry.addDetail(item)"
                  ></p-button>
                </div>
              </div>
            </div>
            }
          </div>
        </ng-template>
        <ng-template #grid>
          <div class="grid grid-cols-12 gap-4">
            @for (item of entry.createArray(entry.pageSize); track $index) {
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 p-2">
              <div
                class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded"
              >
                <div class="flex flex-wrap items-center justify-between gap-2">
                  <p-skeleton width="6rem" height="2rem" />
                  <p-skeleton width="3rem" height="1rem" />
                </div>
                <div class="flex flex-col items-center gap-4 py-8">
                  <p-skeleton height="10rem" class="w-3/4" class="w-3/4" />
                  <p-skeleton width="8rem" height="2rem" />
                  <p-skeleton width="6rem" height="1rem" />
                </div>
                <div class="flex items-center justify-between">
                  <p-skeleton width="4rem" height="2rem" />
                  <p-skeleton width="6rem" height="1rem" shape="circle" size="3rem" />
                </div>
              </div>
            </div>
            }
          </div>
        </ng-template>
      </p-dataview>
    </div>
  </div>
  <!-- AQUI ES EL DETALLE DE ENTRADA PARA CREAR-->
  <div class="card relative min-w-96 max-w-96">
    <div class="flex h-full flex-col overflow-y-hidden w-full bg-white shadow-xl">
      <div class="flex-1 overflow-y-hidden px-4 py-6 sm:px-6 w-full">
        <div class="flex items-start justify-between w-full">
          <h2 id="drawer-title" class="text-lg font-medium text-gray-900">
            Detalles de Nueva Entrada
          </h2>
        </div>

        <div class="mt-8 w-full">
          <div class="flow-root w-full">
            <ul role="list" class="-my-6 divide-y divide-gray-200 w-full">
              @for (item of entry.details; track $index) {
              <li class="flex py-2 w-full shadow-my px-2 mb-3 rounded-xl gap-4 ">
                <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200">
                  <img
                    [src]="item?.producto?.imagenes?.[0]?.secure_url || 'Image-not-found.webp'"
                    [alt]="item.producto.nombre"
                    class="size-full object-contain object-center"
                  />
                </div>

                <div class=" flex flex-1 flex-col w-[208px] gap-2">
                  <div class="w-full">
                    <div class="text-lg font-medium mt-1 overflow-x-auto">
                      <span>{{ item.producto.nombre }}</span>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{ item.producto.codigo }}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm gap-2">
                    <p-inputnumber
                      [(ngModel)]="item.cantidad"
                      [showButtons]="true"
                      buttonLayout="horizontal"
                      spinnerMode="horizontal"
                      inputId="horizontal"
                      [inputStyle]="{ width: '3rem' }"
                      [min]="1"
                    >
                      <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                      </ng-template>
                      <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                      </ng-template>
                    </p-inputnumber>

                    <button
                      (click)="entry.removeDetail($index)"
                      type="button"
                      class="font-medium text-green-my hover:text-black-my"
                    >
                      Remover
                    </button>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>

      <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
        <div class="flex justify-between text-base font-medium text-gray-900">
          <p>{{ entry.getTotalDetails() }} detalles de</p>
          <p>{{ entry.details.length }} Productos</p>
        </div>
      </div>
      <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
        <button
          (click)="entry.createEntry()"
          [disabled]="entry.details.length <= 0"
          command="close"
          commandfor="drawer"
          class="font-medium text-indigo-600 hover:text-indigo-500"
        >
          Crear Entrada
        </button>
      </div>
    </div>
  </div>
  }
</div>
