<div
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row gap-2 mt-6"
>
  <div class="flex-7 flex justify-center items-center bg-green-my-10 w-full">
    <p-skeleton
      height="12rem"
      width="12rem"
      class="aspect-square rounded-t-lg md:rounded-none md:rounded-s-lg"
    />
  </div>
  <div class="flex flex-3 flex-col gap-2 p-4 leading-normal items-center justify-center">
    <p-skeleton width="10rem" height="2rem" />
    <hr class="w-full border-green-my border-t-4 rounded-sm border-dotted" />
    <p-skeleton width="6rem" height="2.5rem" borderRadius="9999px" />
  </div>
</div>
