<div class="flex items-start gap-4">
  <div>
    <div
      class="max-w-full p-2 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-wrap mb-2"
    >
      @for (item of order.orderStatus; track $index) {
      <span class="flex items-center text-sm font-medium text-gray-900 me-3 gap-1">
        <i class="pi pi-circle-on" [style.color]="order.colors[item.id]"></i>
        {{ item.nombre }}
      </span>
      }
    </div>

    <div class="relative shadow-md sm:rounded-lg">
      <div
        class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white px-2 gap-2"
      >
        <div class="flex items-center flex-wrap gap-2">
          <p-datepicker
            [(ngModel)]="order.dates"
            [maxDate]="order.maxDate"
            [readonlyInput]="true"
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            dateFormat="dd/mm/yy"
            placeholder="Ingrese fecha"
            [showButtonBar]="true"
            selectionMode="range"
          />
          <p-floatlabel variant="on">
            <p-select
              [options]="order.orderStatus"
              [(ngModel)]="order.selectedOrderStatus"
              [checkmark]="true"
              optionLabel="nombre"
              [showClear]="true"
              class="w-full md:w-48"
            />
            <label for="on_label">Estados de Pedido</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              [options]="order.deliveryType"
              [(ngModel)]="order.selectedDeliveryType"
              [checkmark]="true"
              optionLabel="nombre"
              [showClear]="true"
              class="w-full md:w-48"
            />
            <label for="on_label">Tipo de Entrega</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <p-select
              [options]="order.paymentMethod"
              [(ngModel)]="order.selectedPaymentMethod"
              [checkmark]="true"
              optionLabel="nombre"
              [showClear]="true"
              class="w-full md:w-48"
            />
            <label for="on_label">Método de Pago</label>
          </p-floatlabel>
          <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="order.searchByCode" autocomplete="off" />
            <label for="on_label">Búsqueda por Código </label>
          </p-floatlabel>
          <p-button
            icon="pi pi-search"
            label="Buscar"
            [raised]="true"
            severity="success"
            [rounded]="true"
            (onClick)="order.search(table)"
          />
          <p-button
            icon="pi pi-refresh"
            label="Resetear"
            [raised]="true"
            severity="danger"
            [rounded]="true"
            (onClick)="order.resetFilters()"
          />
        </div>
      </div>
      @if (order.orders.length>0) {
      <p-table
        #dt
        showGridlines
        [value]="order.orders"
        [tableStyle]="{ 'max-width': '100%' }"
        [rows]="order.pageSize"
        [paginator]="true"
        [rowsPerPageOptions]="order.enumPageSize"
        [totalRecords]="order.count"
        (onLazyLoad)="order.lazyLoad($event)"
        [lazy]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            @for (item of order.headers; track $index) {
            <th>{{ item }}</th>
            }
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pedido>
          <tr>
            <td>{{ pedido.codigo }}</td>
            <td>{{ pedido.fecha | date : 'dd/MM/yyyy' }}</td>
            <td>{{ pedido.hora | date : 'HH:mm:ss' }}</td>
            <td>{{ pedido.total }}</td>
            <td>{{ pedido.direccion }}</td>
            <td>{{ pedido.ultima_fecha | date : 'dd/MM/yyyy' }}</td>
            >
            <td>
              <i class="pi pi-circle-on" [style.color]="order.colors[pedido.estado_pedido.id]"></i>
            </td>
            <td>{{ pedido.tipo_entrega.nombre }}</td>
            <td>{{ pedido.metodo_pago.nombre }}</td>
            <td>{{ pedido.comprobante.tipo_comprobante.nombre }}</td>
            <td>
              <div
                class="text-green-my cursor-pointer flex justify-center"
                (click)="order.viewDetails(pedido)"
              >
                <i class="pi pi-list" style="font-size: 1.25rem; font-weight: bolder"></i>
              </div>
              <div
                class="text-green-my cursor-pointer flex justify-center"
                (click)="order.viewInvoice(pedido)"
              >
                <i
                  [class]="
                    pedido.comprobante.tipo_comprobante.id === 3
                      ? 'pi pi-cloud-download'
                      : 'pi pi-link'
                  "
                  title=""
                  style="font-size: 1.25rem; font-weight: bolder"
                ></i>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      }@else{
      <p class="px-2 py-4">No hay registros de pedidos...</p>
      }
    </div>
  </div>

  @if (order.selectedOrder) {
  <div
    class="w-[1024px] p-2 bg-white border border-gray-200 rounded-lg shadow-sm flex flex-wrap mb-2"
  >
    <div class="flex items-center justify-between mb-8 flex-wrap gap-1">
      <div class="flex items-center">
        <img class="h-12 w-auto mr-2" src="logo.webp" alt="Logo" />
      </div>
      <div class="text-gray-700">
        <div class="font-bold text-xl mb-2">Detalles de Pedido</div>
        <div class="text-sm">Operación #{{ order.selectedOrder.codigo }}</div>
        <div class="text-sm">Fecha: {{ order.selectedOrder.fecha | date : 'dd/MM/yyyy' }}</div>
        <div class="text-sm">Hora: {{ order.selectedOrder.hora | date : 'HH:mm:ss' }}</div>
        <div class="text-sm">Total: {{ order.selectedOrder.total }}</div>
      </div>
    </div>
    <p-table
      #dtDetails
      showGridlines
      [value]="order.orderDetails"
      [tableStyle]="{ 'max-width': '100%' }"
      [rows]="order.pageSizeDetails"
      [paginator]="true"
      [rowsPerPageOptions]="order.enumPageSize"
      [totalRecords]="order.countDetails"
      (onLazyLoad)="order.lazyLoadDetails($event)"
      [lazy]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          @for (item of order.headersDetails; track $index) {
          <th [style.width]="item === 'Nombre' ? '60%' : '4rem'">{{ item }}</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-detalle>
        <tr>
          <td>{{ detalle.producto.codigo }}</td>
          <td class="w-[20rem] block">{{ detalle.producto.nombre }}</td>
          <td>{{ detalle.precio }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.subtotal }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  }
</div>
