<div class="grid grid-cols-2 sm:grid-cols-3 items-start sm:gap-4 gap-6 shadow-my p-4">
  <!-- Columna imagen + info -->
  <div class="col-span-2 flex items-start gap-4">
    <!-- Skeleton imagen -->
    <div class="w-28 h-28 max-sm:w-24 max-sm:h-24 shrink-0 bg-gray-100 rounded-md">
      <p-skeleton shape="rectangle" size="100%" class="h-full"></p-skeleton>
    </div>

    <!-- Skeleton información -->
    <div class="flex flex-col flex-1 gap-2">
      <p-skeleton width="100%" height="1.25rem"></p-skeleton>
      <p-skeleton width="80%" height="1rem"></p-skeleton>
      <p-skeleton width="60%" height="1rem"></p-skeleton>

      <!-- Skeleton botón eliminar -->
      <p-skeleton width="120px" height="2.5rem" style="border-radius: 9999px"></p-skeleton>
    </div>
  </div>

  <!-- Columna precio + cantidad -->
  <div class="sm:ml-auto max-sm:flex max-sm:justify-between max-sm:gap-4 max-sm:col-span-full">
    <!-- Skeleton precio total -->
    <p-skeleton width="100px" height="1.5rem" class="max-sm:mb-2"></p-skeleton>

    <!-- Skeleton input number -->
    <div class="flex items-center border border-gray-300 rounded-md sm:mt-6 p-2">
      <p-skeleton width="80px" height="2rem"></p-skeleton>
    </div>
  </div>
</div>
