@if(!catalog.isSearch){
<p-carousel
  class="shadow-my rounded-md border-2 border-green-my"
  [value]="catalog.dataCategoryOrBrand"
  [circular]="true"
  [responsiveOptions]="catalog.responsiveOptions"
  autoplayInterval="3000"
>
  <ng-template let-item pTemplate="item">
    @if(!catalog.loadingCategoryOrBrand){
    <app-card-category [item]="item"></app-card-category>
    } @else{
    <app-skeleton-card-category></app-skeleton-card-category>
    }
  </ng-template>
</p-carousel>
}@else {
  <h1 class="shadow-my rounded-md border-2 border-green-my p-2 text-xl text-black-my text-wrap whitespace-normal wrap-break-word">Resultados para: <span class="underline">{{catalog.searchValue}}</span></h1>
}
