@if(!catalog.isSearch){
<p-carousel
  class="shadow-my rounded-md"
  [value]="catalog.dataCategoryOrBrand"
  [circular]="true"
  [responsiveOptions]="catalog.responsiveOptions"
  
>
  <ng-template let-item pTemplate="item">
    @if(!catalog.loadingCategoryOrBrand){
    <app-card-category [item]="item"></app-card-category>
    } @else{
    <app-skeleton-card-category></app-skeleton-card-category>
    }
  </ng-template>
</p-carousel>
}@else {
  <h1 class="shadow-my rounded-md p-2 text-xl text-black-my text-wrap whitespace-normal wrap-break-word">Resultados para: {{catalog.searchValue}}</h1>
}
