/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
* {
  font-family: InterVariable;
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('../public/fonts/InterVariable.woff2') format('woff2');
}

@theme {
  --color-green-my: #228f47;
  --color-green-my-10: rgba(34, 143, 71, 0.1);
  --color-yellow-my: #ffc41f;
  --color-red-my: #e14b4b;
  --color-black-my: #17183b;
  --color-cool-grey: #a2a3b1;
  --color-french-grey: #d1d1d8;
  --color-white-my: #ffffff;
  --color-white-my-10: #f5f5f5;
  --color-surface-ground: #f1f5f9;
  --breakpoint-isTablet: 600px;
  --breakpoint-isWeb: 960px;
}

.p-inputtext {
  border-width: 2px !important;
}

body {
  overflow-x: hidden;
}
/* td {
  word-break: break-word; /* o break-all */
/* overflow-wrap: break-word; */
/* white-space: normal; permite que el texto se envuelva en varias líneas */
/* } */
.shadow-my {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


